.create-req-form {
    padding: 20px;
    width: 400px;
}

.header {
    background-color: var(--background);
    padding: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}