.divider-container {
    width: 10px;
    cursor: col-resize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divider-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}